
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif, Tahoma, Verdana;
    list-style: none;
    text-decoration: none;
}
body{
    background: linear-gradient(245.59deg, #da5213 0%, #cf561e 28.53%, #d78450 75.92%);
}

h2 {
    font-size: 40px;
    color: white;
    text-align: center;
    margin-top: 150px;
    margin-right: 900px;
}


header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}

.logo{
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.navlist{
    display: flex;
}
.navlist a{
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s eases;
}
.navlist a:hover{
    border-bottom: 2px solid white;
}
#menu-icon{
    color: white;
    font-size: 30px;
    z-index: 1001;
    cursor: pointer;
    display: none;
}

